<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.name %>!</h1>
    <p>We would like to inform you that your account has been unblocked by admin</p>
    <p></p>
    <p>Now you can again have the fun time at EventApp!!</p>
    
  </body>
</html>