<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.name %>!</h1>
    <p>Your event <%= @event.title %> has been approved </p>
    <p>You can invite more users to event using invite option </p>

  </body>
</html>