<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.name %>!</h1>
    <p>We regret to inform you that your event <%= @event.title %> has been rejected by the team. </p>
    <p>You can log in and create more events. </p>
    
  </body>
</html>